node_modules/
**/.DS_Store

# Jupyter Notebook
*.ipynb_checkpoints
*.ipynb

/config
keys.js

.env
/logs
*/__pycache__/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebextensions/
.platform/